<section class="border-white/20  border-b ">
  <div class="mx-auto border-white/20  border-x max-w-7xl gradient-grid">
    <div class="mx-auto max-w-7xl pt-8 px-8">
      <p class="text-white font-display uppercase lg:text-2xl text-md">
        National Alumni Meet 2024: A Journey Back to Our Roots
      </p>
    </div>
    <div class="mx-auto max-w-7xl p-8">
      <div class="text-white lg:text-lg">
        <b>Celebrating SJMSOM Legacy:</b> The National Alumni Meet (NAM) is not just a reunion; it's a celebration of the esteemed Shailesh J. Mehta School of Management that shaped our minds and forged enduring bonds. It's a testament to the shared spirit and resilience of the SJMSOM community.
        <ul>
          <li><br><b>Nostalgic Anticipation:</b> As NAM 2024 approaches, a surge of nostalgia fills the air. It's a profound connection to our roots, a tapestry woven with memories, friendships, and shared experiences. For those who walked the halls of SJMSOM, it's a journey back to where our transformative academic odyssey began at IIT Bombay.

          </li><li><br><b>Immersive Experience:</b> This year's NAM will be an immersive experience, offering a captivating campus tour through the country's premier institute. The Alumni Sports Meet brings back memories of friendly competitions. At the same time, musical bands, jamming sessions, and open mic moments allow us to relive the diverse talents and memories that once echoed through the hallways.

          </li><li><br><b>Dinner Under the Stars:</b> The delightful dinner under the stars becomes a backdrop for rekindling old friendships and creating new connections.

          </li><li><br><b>Strengthening in Alumni Network:</b> Participation in NAM is not just an event; It's a chance to reconnect, share experiences, and strengthen the ties that bind us. Each registration is a commitment to fostering the rich legacy of SJMSOM.
          </li>
        </ul>
        <br>
        <br>
        <b>Reliving Memories at IIT Bombay:</b>
        <ul>
          <li><br><b>Gymkhana - Heartbeat of Student Life:</b> Gymkhana at IIT Bombay has been the epicenter for activities of lively student life, shaping vibrant memories of events and camaraderie.

          </li><li><br><b>Old SAC - Nostalgic Haven:</b> Old SAC echoes the laughter and energy of countless friendly gatherings, hosting cultural events.

          </li><li><br><b>SOM - Academic Cornerstone:</b> Shailesh J. Mehta School of Management, a cornerstone of academic excellence, holds cherished memories of learning and collaboration. It's where we all forged bonds and honed our skills, laying the foundation for successful journeys ahead.

          </li><li><br><b>Sports Ground - Joys and Teamwork:</b> The Sports Ground witnessed fierce competition and teamwork, etching memories of victories and pursuing physical fitness. It's a testament to the spirit of excellence that defined our campus life.

          </li><li><br><b>Cafeteria - Midnight Hunger Reliever:</b> Night Canteens served more than just meals; it was a hub for discussions, laughter, and the simple joy of shared moments among friends.
          </li>
        </ul>
        <br>
        <br>
        <b>Powai Lake Hangout:</b>
        <br>The road alongside Powai Lake was a scenic retreat for tranquil walks, where we strolled, exchanged stories, and relished the serene beauty of the lake.
        <br>
        <br>
        <b>Sameer Hills Trekking Experience:</b>
        <br>You might vividly recall the exhilarating treks in Sameer Hills, where bonds strengthened, and the breathtaking views from the summit became enduring memories.
        <br>
        <br>
        <b>Hostel Hangouts:</b>
        <br>Hostel common rooms and mess areas were not just spaces; they were lively hubs where we shared laughter, debates, and countless cups of chai, etching these places into the fabric of your IIT Bombay journey.
        <br>
        <br>
        <b>Convocation Hall:</b>
        <br>Convocation Hall witnessed the culmination of hard work and dreams, where you donned the graduation cap, creating a lasting imprint of achievement and new beginnings.
      </div>
    </div>
  </div>
</section>
