<section class="border-white/20  border-b ">
  <div class="mx-auto border-white/20  border-x max-w-7xl gradient-grid">
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-2xl text-md">
        Mark your calendars for the most anticipated event of the year - the SJMSOM National Alumni Meet! This is your chance to reconnect with old classmates, network with industry leaders, and be inspired by the incredible achievements of your fellow alumni.
        <br><br>
        Whether you graduated two years ago or twenty, the BSchool community is like a family. It's a place where you can always find support, encouragement, and a shared passion for making a difference in the world.
      </p>
    </div>
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display lg:text-lg">
        National Alumni Meet (NAM) is not just a reunion but it's a celebration of the esteemed Shailesh J. Mehta School of Management (SJMSOM) that sculpted our minds and forged enduring bonds. This event is more than a date on the calendar; it's a testament to the shared spirit and resilience of the SJMSOM community.
        <br>
        As we stand on the brink of the National Alumni Meet 2024, a surge of nostalgia and anticipation fills the air. NAM isn't just an event; it's a profound connection to our roots, a tapestry woven with memories, friendships, and shared experiences. For those who have walked the halls of SJMSOM, this annual gathering holds a special place, marking a journey back to where our transformative academic odyssey began in IIT Bombay.
        <br>

        This year NAM will not be merely an evening; it will be an immersive experience. From the captivating campus tour in the premier institute of the country, rekindling memories within every nook and corner, to the friendly competitions at the Alumni Sports Meet, it's a day woven with threads of nostalgia and camaraderie. The musical band, jamming sessions, and open mic offer a chance to relive the diverse talents and memories that once echoed through the hallways. The delightful dinner under the stars becomes a backdrop for rekindling old friendships and creating new connections.
        <br>

        Participation in NAM isn't just an event; it's an investment in a stronger alumni network. It's a chance to reconnect, share experiences, and strengthen the ties that bind us. Each registration is not just a number; it's a commitment to fostering the rich legacy of SJMSOM.
        <br>

        As the National Alumni Meet 2024 approaches, we urge you to register, to be part of this extraordinary journey. Join us as we weave new chapters into the fabric of our shared history. Let's make NAM 2024 a night to remember, for the memories we've shared, the bonds we've formed, and the legacy we continue to build together.
      </p>
    </div>
  </div>
</section>
