<section class="border-white/20  border-b ">
  <div class="mx-auto border-white/20  border-x max-w-7xl gradient-grid">
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-2xl text-md">
        Mark your calendars for the most anticipated event of the year - the SJMSOM National Alumni Meet! This is your chance to reconnect with old classmates, network with industry leaders, and be inspired by the incredible achievements of your fellow alumni.
        <br><br>
        Whether you graduated two years ago or twenty, the BSchool community is like a family. It's a place where you can always find support, encouragement, and a shared passion for making a difference in the world.
      </p>
    </div>
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-xl">
        This year's National Alumni Meet is more than just a reunion. It's an opportunity to:

        <li class="text-white text-lg">Celebrate the successes of our alumni: We'll be honoring some of our most distinguished graduates with special awards.</li>

        <li class="text-white text-lg">Hear from industry leaders: Get insights from experts on the latest trends in business and get inspired to take your career to the next level.</li>

        <li class="text-white text-lg">Network with fellow alumni: Build new connections and rekindle old ones with classmates from across the country and around the world.</li>

        <li class="text-white text-lg">Give back to BSchool: Help us shape the future of the school by participating in panel discussions, mentoring current students, and supporting our scholarship programs.</li>

        <li class="text-white text-lg">The [BSchool Name] National Alumni Meet is an event you don't want to miss. Register today and be a part of something special!</li>
      </p>
    </div>
  </div>
</section>
