<footer class="border-white/20  border-b bg-accent-500">
  <div class="mx-auto border-white/20  border-x max-w-7xl">
    <div class="mx-auto p-8 items-start justify-between w-full">
      <div class="text-white text-center flex flex-row justify-center items-center mx-auto">
        <img class="h-16" src="/work/art_logo.png" alt="Alumni Relations Team">
        <p class="pl-4 uppercase font-display text-2xl">Alumni Relations Team 2025</p>
      </div>
    </div>
  </div>
</footer>
