<section
  class="mx-auto border-white/20  border-t 2xl:max-w-7xl bg-black border-b justify-center lg:fixed lg:z-50 w-full">
  <div class="mx-auto bg-white/10 justify-center w-full">
    <div
      class="mx-auto border-white/20  border-x max-w-7xl flex flex-col lg:flex-row lg:items-center lg:justify-between w-full">
      <div
        class="items-center w-full flex justify-between flex-row">
        <a
          href="https://www.som.iitb.ac.in"
          class="text-white text-xs font-display inline-flex items-center px-8 md:text-center py-2 uppercase"
          ><span><img class="h-16 " src="/work/som_logo.png" alt="SJMSOM"></span>
        </a>
        <a
          href="."
          class="w-auto font-display px-8 py-4 text-black hover:text-white text-center text-xs uppercase"
          >
          <img class="h-16 " src="/work/iitb_logo.png" alt="IIT Bombay">
        </a>
      </div>
    </div>
  </div>
</section>
